@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a9d8f;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center; 
}

.title {
    text-align: center;
    color: #f1faee;
    font-family: "Poppins", sans-serif;
}

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.clock {
    font-size: 10rem;
    font-family: "Poppins", sans-serif;
    color: #f1faee;
}